<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC
        "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- 开启驼峰命名自动映射：book_name -> bookName -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- 指定日志实现为 LOG4J -->
        <setting name="logImpl" value="LOG4J"/>
    </settings>
    <typeAliases>
        <!-- 实体类别名包，对应你的com.entity，映射文件直接写类名Book，不用写全类名 -->
        <package name="com.entity"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url"
                          value="jdbc:mysql://localhost:3306/book_db?useSSL=false&amp;serverTimezone=Asia/Shanghai&amp;characterEncoding=utf8"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!-- XML 映射文件（必须全部写在前面，按 DTD 顺序 mapper* 在 package* 之前） -->
        <mapper resource="mapper/CategoryMapper.xml"/>
        <mapper resource="mapper/BookMapper.xml"/>
        <mapper resource="mapper/ReaderMapper.xml"/>
        <mapper resource="mapper/BookBorrowMapper.xml"/>
<!--        &lt;!&ndash; 扫描 com.mapper 包下所有 Mapper 接口（注解方式，写在最后） &ndash;&gt;-->
<!--        <package name="com.mapper"/>-->
    </mappers>
</configuration>